@import "../variables";

:local(.dialogue) {
  display: flex;
  flex-direction: column;
  //background-color: red;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

:local(.initialDisplay) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50vh;
  text-align: center;
}

:local(.name) {
  font-size: 3vh;
}

:local(.author) {
  font-size: 2.8vh;
}

:local(.description) {
  font-size: 3vh;
  white-space:pre;
}

:local(.hint) {
  font-size: 2vh;
  font-style: italic;
}

:local(.placeholder) {
  height: 30vh;
  //max-height: 200px;
  margin: 5px 5px;
  //background-color: #3aa3e3;
}

.loadMessage-enter {
  opacity: 0.01;
}

.loadMessage-enter.loadMessage-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.loadMessage-leave {
  opacity: 1;
}

.loadMessage-leave.loadMessage-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.loadMessage-appear {
  opacity: 0.01;
}

.loadMessage-appear.loadMessage-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
