:local(.messageBox) {
  position: relative;
  background-color: white;
  border-radius: 2vw;
  border: 0.15vw solid #c4c4c4;
  padding: 1vw;
  margin: 2vw 2vw 0;
}

:local(.name) {
  font-size: 2vh;
}

:local(.messagesList) {
  //padding: 5px 0;
}

:local(.messageText) {
  font-size: 3vh;
}

:local(.imageBox) {
  margin: 1vw;
  border-radius: 2vw;
  overflow: hidden;
  display: inline-block;
  /* if you need ie6/7 support */
  *display: inline;
}

:local(.image) {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}
