:local(.messageBox) {
  position: relative;
  background-color: white;
  border-radius: 2vw;
  border: 0.3px solid #c4c4c4;
  padding: 5px;
  margin: 8px 8px 0
}

:local(.name) {
  font-size: 3vh;
}

:local(.messagesList) {
  padding: 5px 0;
}

:local(.messageText) {
  font-size: 4.5vh;
}
