:local(.storyAnalyticsContainer) {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  font-size: 3vh;
  width: 90%;
}

:local(.csvArea) {
  font-size: 3vw;
}

:local(.copyButton) {
  margin-top: 3vh;
  height: 5vh;
  width: 50vw;
  background-color: #e2950f;
}
