:local(.storyReaderContainer) {
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.dialogue) {
  width: 100%;
}

:local(.loading) {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
