$color-background: #fcfcfc;

$color-blue: #3aa3e3;
$color-border: #e8e8e8;
$color-channelIcon: #a09a9f;
$color-channels: #4d394b;
$color-channelsActive: #3e313c;
$color-grayText: #9e9ea6;
$color-green: #2ab27b;
$color-keyBorder: #DEDEDE;
$color-menuBorder: rgba(#E6E6E6, 0.8);
$color-menuSecondary: #A0A0A2;
$color-modifierBorder: #8cd5b7;
$color-moreMenuItem: #f2f2f5;
$color-primary: #555459;
$color-red: #eb4d5c;
$color-text: #2c2d30;
$color-yellow: #edb431;


/* message color enums: red blue green purple orange grey */
$color-red-name: #e83729;
$color-red-background: #efd9d7;
$color-red-border: #efd9d7;

$color-blue-name: #022ed1;
$color-blue-background: #d4f4f3;
$color-blue-border: #d4f4f3;

$color-green-name: #008000;
$color-green-background: #dbefda;
$color-green-border: #dbefda;

$color-purple-name: #be3cf2;
$color-purple-background: #f5e8f9;
$color-purple-border: #f5e8f9;

$color-orange-name: #e88e00;
$color-orange-background: #f2e4d2;
$color-orange-border: #f2e4d2;

$color-grey-name: #666666;
$color-grey-background: #eaeae8;
$color-grey-border: #eaeae8;
